.todo__wrapper {
    text-align: center;
    display: flex;
    justify-content: space-around;
    max-width: 70%;
    margin: 0 auto;

}
.todo__header{
    text-align: center;
}
.todo__bodyActive {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 20px;
    flex-wrap: wrap;
    width: 180px;
}
.todo__bodyDone {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 20px;
    flex-wrap: wrap;
    width: 180px;
}
